@import url("https://fonts.googleapis.com/css?family=Antic");
* {
  font-family: Antic;
  padding: 0;
  margin: 0;
}
body {
  background-color: #91d9bf;
  background-image: url("../images/livros_4.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  background-size: cover;
}

.main-container {
  display: flex;
}

.title {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title-image {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.flex-container {
  width: 280px;
  height: 260px;
  background-color: #f2cea2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.email,
.password,
.enter,
.google,
.register,
.login-google {
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 10px;
}

.email,
.password {
  color: #d97941;
  background-color: #f2e8d5;
  border: 0.063rem solid;
  border-radius: 5px;
  height: 1.75em;
  width: 17em;
  text-align: center;
  text-decoration: #d97941;
}

.enter {
  color: #f2e8d5;
  background-color: #d97941;
  border: 0.063rem solid;
  border-radius: 5px;
  height: 1.75em;
  width: 5em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.google {
  background-color: #f2cea2;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  /*  box-shadow:0 4px 5px -1px #f2e8d5;*/
}

.register {
  font-size: 90%;
}

p {
  color: #d97941;
}

@media screen and (min-width: 1024px) {
  .main-container {
    margin-left: 55%;
  }

  .title {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .title-image {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
  }

  .flex-container {
    width: 280px;
    height: 260px;
    background-color: #f2cea2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
}
