body{
  background-color: #283040;
}

.container{
  display: flex;
}
.name-register,
.email-register,
.password-register {
  color: black;
  background-color: #f2e8d5;
  border: 0.063rem solid;
  border-radius: 1.188rem;
  height: 2em;
  width: 15em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8px;
}


.button-register {
  background-color: #f2e8d5;
  width: 7em;
  height: 2em;
  border-radius: 1.188rem;
  cursor: pointer;
  margin-top: 8px;
}

/*
@media screen and (max-width: 1900px) and (min-width: 630px), (min-width: 768px) {
  .title{
  margin-top: 12.754rem;
  }
  .form-register {
    margin: 1.8em;
    padding: auto;
    width: 150em;
    height: 25em;
  }
}*/
