@media screen and (min-width: 360px){
.main-register {
  display: flex;

}

.container {
  width: 280px;
  height: 260px;
  background-color: #f2cea2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
  box-shadow: 0 2px 6px rgb(0 0 0 / 50%);
}

.title-register {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title-image-register {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 50px;
}

.name-register,
.email-register,
.password-register {
  color: #d97941;
  background-color: #f2e8d5;
  border: 0.063rem solid;
  border-radius: 5px;
  height: 1.5em;
  width: 16em;
  text-align: center;
  text-decoration: #d97941;
  margin-top: 10px;
}

.button-register {
  background-color: #d97941;
  color: #f2e8d5;
  width: 6em;
  height: 1.75em;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 8px;
  text-decoration: #d97941;
  border: 0.063rem solid;
}
}

@media screen and (min-width: 1024px){
  .main-register {
    display: flex;
    margin-left: 50%;
    margin-top: 10%;
  }

  .title-register {
    text-align: center;
  }

  .title-image-regiter {
    justify-content: flex-end;
    flex-direction: column;
    width: 30%;
    height: auto;
  }

  .container {
    width: 380px;
    height: 360px;
    background-color: #f2cea2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
}

@media screen and (min-width: 1280px){
  .main-container {
    margin-left: 60%;
  }

}

